,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000

In [90]:
import matplotlib as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as py

df = pd.read_csv (r'C:\Users\ASUS\Documents\Studi Independen\New folder\nyc-rolling-sales.csv')
df

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,...,2,0,2,2400,2575,1998,1,B9,450000,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,...,2,0,2,2498,2377,1998,1,B9,550000,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [149]:
#melihat mean data
df.describe()

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000

hasil pencarian mean pada BLOCK sesuai dengan yang tertera pada df.describe()

In [140]:
#menghilangkan data sale price yang tidak memiliki nilai
new_data1 = df[df['SALE PRICE'] != " -  "]
#mengubah data sale price menjadi numerik
new_data1.loc[:, 'SALE PRICE'] = pd.to_numeric(new_data1['SALE PRICE'])

In [142]:
#mencari mean dari sale price
aveg1 = new_data1["SALE PRICE"].mean()
print(aveg1)

1276456.4977638705

In [144]:
#menghilangkan data LAND SQUARE FEET yang tidak memiliki nilai
new_data2 = df[df['LAND SQUARE FEET'] != " -  "]
#mengubah data LAND SQUARE FEET menjadi numerik
new_data2.loc[:, 'LAND SQUARE FEET'] = pd.to_numeric(new_data2['LAND SQUARE FEET'])

In [145]:
#mencari mean dari LAND SQUARE FEET
aveg2 = new_data2["LAND SQUARE FEET"].mean()
print(aveg2)

3941.675775353369

In [146]:
#menghilangkan data GROSS SQUARE FEET yang tidak memiliki nilai
new_data3 = df[df['GROSS SQUARE FEET'] != " -  "]
#mengubah data LGROSS SQUARE FEET menjadi numerik
new_data3.loc[:, 'GROSS SQUARE FEET'] = pd.to_numeric(new_data3['GROSS SQUARE FEET'])

In [147]:
#mencari mean dari LAND SQUARE FEET
aveg3 = new_data3["GROSS SQUARE FEET"].mean()
print(aveg3)

4045.707478572432

# Mencari Median data

In [150]:
med1= df["BOROUGH"].median()
print(med1)

3.0

In [151]:
med2= df["BLOCK"].median()
print(med2)

3311.0

In [152]:
med3= df["LOT"].median()
print(med3)

50.0

In [153]:
med4= df["RESIDENTIAL UNITS"].median()
print(med4)

1.0

In [154]:
med5= df["COMMERCIAL UNITS"].median()
print(med5)

0.0

In [155]:
med6= df["TOTAL UNITS"].median()
print(med6)

1.0

In [163]:
med7 = new_data1["SALE PRICE"].median()
print(med7)

530000.0

# Mencari modus data

In [164]:
mode1 = new_data1["SALE PRICE"].mode()
print(mode1)

0    0
dtype: int64

In [165]:
mode2 = df["BLOCK"].mode()
print(mode2)

0    5066
dtype: int64

In [166]:
mod3= df["LOT"].mode()
print(mod3)

0    1
dtype: int64

In [169]:
mod4= df["RESIDENTIAL UNITS"].mode()
print(mod4)

0    1
dtype: int64

In [170]:
mod5= df["COMMERCIAL UNITS"].mode()
print(mod5)

0    0
dtype: int64

In [171]:
mod6= df["TOTAL UNITS"].mode()
print(mod6)

0    1
dtype: int64

In [173]:
mod7 = new_data1["SALE PRICE"].mode()
print(mod7)

0    0
dtype: int64

In [174]:
mod8 = new_data2["LAND SQUARE FEET"].mode()
print(mod8)

0    0
dtype: int64

# mencari variance

In [ ]:
var1 = new_data1["SALE PRICE"].mode()
print(mode1)